.ProductsListContainer {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.categoryName {
  font-family:'Raleway';
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 6rem;
  text-transform: capitalize;
}


.ProductsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 6.4rem;
  column-gap: 2.5rem;
}
